spring:
  mail:
    host: smtp.qq.com
    username: 928707094@qq.com
    password: fswrykjilaqkbbje
    default-encoding: utf-8

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    encoding: UTF-8
    cache: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/email?serverTimezone=GMT%2B8
    username: root
    password: password




#云之讯短信配置文件
is_test: true
rest_server: open.ucpaas.com

#邮箱验证的实效时间
emailVerifyTimeOut: 5000

#配置.xml文件路径,配置模型路径
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.wuhao.email.model
  configuration:
    map-underscore-to-camel-case: false

myConfig:
  emailSendFrom: 928707094@qq.com
  emailSubject: "邮箱认证"
  emailText: "这是一封验证邮件,恭喜您注册成功，请点击下面的连接进行激活账户:"
  emailVerifyPath: http://127.0.0.1:8080/form/doVerifyEmail?emailVerifyCode=

  listProductSize: 3

  VERIFY_ERROR_URL: http://localhost:8080/shop/listProduct
  REDIRECT_URL:
  CAR_URL: http://localhost:8080/car/showCar
  REGISTER_URL: http://localhost:8080/register/
  GO_SETTLEMENT_URL: http://localhost:8080/order/showOrder
  DO_PAY_URL: http://localhost:8080/order/doPay
  CANCEL_ORDER_URL: http://localhost:8080/order/cancelOrder

  ORDER_PAGE_SIZE: 3

  ORDER_NULL_ERROR: "[用户端-订单查询]：该用户没有订单"

  MAX_LENGTH: 32
  MIN_LENGTH: 1
server:
  port: 8000
