spring:
  mail:
    host: smtp.qq.com
    username: 928707094@qq.com
    password: fswrykjilaqkbbje
    default-encoding: utf-8

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    encoding: UTF-8
    cache: false

#云之讯短信配置文件
is_test: true
rest_server: open.ucpaas.com

#邮箱验证的实效时间
emailVerifyTimeOut: 5000