<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>你有新邮件</h1>
                <p>
                    你有一封新的邮件，来自(From):<b></b>
                </p>
                <p>
                    <img src="" style="text-align: center;">
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>