<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhao.email.dao.ProductInfoDao">
    <sql id="product_info_all_columns">
            product_name,product_description,product_details,product_price,category_type,product_status,icon_group,product_stock,commentary_group,founder,modifier
    </sql>
    <!--插入一个商品的信息记录-->
    <insert id="addProductInfo" parameterType="com.wuhao.email.model.ProductInfo">
        insert into product_info
        <trim prefix="(" suffix=")">
            <include refid="product_info_all_columns" />
        </trim>
        values
        (#{productName},#{productDescription},#{productDetails},#{productPrice},#{categoryType},#{productStatus},#{iconGroup},#{productStock},#{commentaryGroup},#{founder},#{founder})
    </insert>
</mapper>